---
import Layout from '../../layouts/Layout.astro';
import Cart from "../../components/Cart";
---

<Layout title="Astro e-commerce cart">
  <main class="flex min-h-[calc(100vh-64px)] flex-col">
    <Cart client:load />
  </main>
</Layout>
