---
import Products from '../../components/Products.astro';
import Layout from '../../layouts/Layout.astro';

---
<Layout title="Astro e-commerce products">
<html>
  <head>
    <title>Products</title>
  </head>
  <body>
    <main class="flex min-h-[calc(100vh-64px)] flex-col items-center">
      <Products />
    </main>
  </body>
</html>
</Layout>
