---

---
<div id="cart-quantity">
</div>


<script>
  import { cartItems } from "../../lib/stores/cart";

  const updateCartQuantity = () => {
    const totalQuantity = cartItems.get().reduce((sum, item) => sum + item.quantity, 0);
    document.getElementById('cart-quantity')!.textContent = totalQuantity.toString();
  };

  cartItems.subscribe(updateCartQuantity);

</script>
