---
import { supabaseClient } from '../../lib/supabase/client.ts';
import ProductCard from './ProductCard.astro';
const { data: products, error } = await supabaseClient.from('products').select('*');


if (error) {
  console.error('Error fetching products:', error.message);
}
---

<div class="flex w-full items-center justify-center p-12">
  <div class="grid grid-cols-1 gap-10 md:grid-cols-4">
    {products && products.map((product) => (
      <ProductCard key={product.id} product={product} />
    ))}
  </div>
</div>
