---
import Layout from '../../layouts/Layout.astro';
import ProductPage from "../../components/ProductPage.astro";
import { supabaseClient } from '../../../lib/supabase/client.ts';

export async function getStaticPaths() {
  const { data: products } = await supabaseClient
    .from('products')
    .select('id');

  return products.map((product) => ({
    params: { id: product.id.toString() },
  }));
}

const { id } = Astro.params;
const { data: product } = await supabaseClient
  .from('products')
  .select('*')
  .eq('id', id)
  .single();
---
<Layout>
    <div class="flex w-full flex-col items-center justify-center">
        {product && <ProductPage product={product} />}
    </div>
</Layout>
