---
---

<div class="text-primary flex w-48 flex-row justify-center gap-6">
  <a
    class="hover:text-primary/80 duration-250 transition-colors"
    href="/"
  >
    home
  </a>
  <a
    class="hover:text-primary/80 duration-250 transition-colors"
    href="/products"
  >
    products
  </a>
</div>
